<h3>Create a New Post!</h3>
<form class="" action="/posts" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" value="" id="title">
  <label for="">Image Url</label>
  <input type="text" name="image_url" value="">
  <label for="">Description</label>
  <input type="text" name="description" value="">
  <input type="submit" name="" value="Create New Post">
</form>
